{% extends '::base.html.twig' %}
{% block submenu %}
	
<ul id="sectionSubmenu">			
	<li><a href="{{ path('categoria_new') }}">Agregar categoria</a></li>
	<li><a href="{{ path('categoria') }}">Ver categorias</a></li>
</ul>


{% endblock %}
{% block body %}{% endblock %}