{% extends 'PuntoVentaBundle:tipoCambio:main.html.twig' %}

{% block body -%}
     <div id="section-title-div"> 
        <label id="section-title">I.V.A.</label>
    </div>

    <table class="multipleRowsTable">
        <thead>
            <tr>
                <th>I.V.A.</th>
                <th>Fecha Agregado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.iva|number_format(2, '.', ',') }} % </td>
                <td>{% if entity.fechaAgregado %}{{ entity.fechaAgregado|date('d-m-Y H:i:s') }}{% endif %}</td>
                <td>                
                    <a href="#">Eliminar</a>            
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
