{% extends '::base.html.twig' %}
{% block submenu %}
	
<ul id="sectionSubmenu">			
	<li><a href="{{ path('cliente_new') }}">Agregar cliente</a></li>
	<li><a href="{{ path('cliente') }}">Ver clientes</a></li>
</ul>


{% endblock %}
{% block body %}{% endblock %}