
{% form_theme cliente with 'PuntoVentaBundle:Cliente:Themes/buscarCliente.html.twig' %}

<table>
    <tr>

        <td>{{ form_label(cliente) }}:</td>
        <td>{{ form_widget(cliente) }}</td>
        <td>Telefono: </td>
        <td><input id="cliente-telefono" type="text" name="cliente[telefono]" /></td>
        <td><input type="submit" value="Buscar" /></td>
    </tr>
    <tr>
        <td>Direcci&oacute;n: </td>
        <td><input id="cliente-direccion" type="text" name="cliente[direccion]" /></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>


