{% extends '::base.html.twig' %}
{% block submenu %}
	
<ul id="sectionSubmenu">			
	<li><a href="{{ path('producto_new') }}">Agregar producto</a></li>
	<li><a href="{{ path('producto') }}">Ver productos</a></li>
</ul>


{% endblock %}
{% block body %}{% endblock %}
