{% extends 'PuntoVentaBundle:tipoCambio:main.html.twig' %}


{% block body -%}
    <div id="section-title-div"> 
        <label id="section-title">Tipo de Cambio</label>
    </div>

    <table class="multipleRowsTable">
        <thead>
            <tr>
                <th>Tipo Cambio</th>
                <th>Fecha Agregado</th>                
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>$ {{ entity.tipoCambio | number_format(2, '.', ',') }} x 1</td>
                <td>{% if entity.fechaAgregado %}{{ entity.fechaAgregado|date('Y-m-d H:i:s') }}{% endif %}</td>
                
                <td>
               
                    <a href="#">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
