{% extends '::base.html.twig' %}
{% block submenu %}
	
<ul id="sectionSubmenu">			
	<li><a href="{{ path('tipocambio_new') }}">Tipo de Cambio</a></li>
	<li><a href="{{ path('iva_new') }}">I.V.A.</a></li>
</ul>


{% endblock %}
{% block body %}{% endblock %}