{% extends '::base.html.twig' %}

{% form_theme venta '::fields.html.twig' %}


{% block javascripts %}
    {{ parent() }}

<script type="text/javascript">
    var clienteId = {{ clienteId }};
</script>


{% endblock %}


{% block body -%}
    <div id="section-title-div"> 
        <label id="section-title">Venta</label>
    </div>     

    <form action="{{ path('venta_create') }}" method="post" {{ form_enctype(venta) }}>

        <span class="subTitle">Cliente</span>
        {% include 'PuntoVentaBundle:Cliente:searchCliente.html.twig'
             with {'cliente': cliente} %}
            
        <div class="bottomBorderDiv"></div>
           
      
        {% include 'PuntoVentaBundle:Venta:ventaUnitariaTable.html.twig' %}


        <div class="bottomBorderDiv"></div>

         {% include 'PuntoVentaBundle:Venta:ventaTotal.html.twig' %} 
        <input type="submit" value="Registrar" />
     
    </form>
{% endblock %}
