{% extends '::base.html.twig' %}

{% form_theme form '::fields.html.twig' %}

{% block javascripts %}
    {{ parent() }}

<script type="text/javascript">
    var clienteId = {{ clienteId }};
</script>
{% endblock %}


{% block body -%}
    <div id="section-title-div"> 
        <label id="section-title">Venta</label>
    </div>     

    <form action="{{ path('venta_create') }}" method="post" {{ form_enctype(form) }}>

        <span class="subTitle">Cliente</span>
        {% include 'PuntoVentaBundle:Cliente:searchCliente.html.twig'
             with {'cliente': cliente} %}
            
        <div class="bottomBorderDiv"></div>
            
        <table class="subTable">
            <tr>
                <th>Clave Prod.</th>
                <th>Categoria</th>
                <th>Producto</th>
                <th>P. Unit.</th>
                <th>Cantidad</th>
                <th>Importe</th>
            </tr>

            {% include 'PuntoVentaBundle:Venta:ventaUnitaria.html.twig'
             with {'ventaUnitaria': ventaUnitaria, 'categorias': categorias, 'producto': producto } %}

        </table>

        <input type="submit" value="Nuevo" />

        <div class="bottomBorderDiv"></div>

         {% include 'PuntoVentaBundle:Venta:ventaTotal.html.twig' %} 

        <input type="submit" value="Registrar" />
     
    </form>
{% endblock %}
