<table>

    <tr>
    
        <td>
            I.V.A: 
        </td>
            
        <td>
            11.00 %
        </td>
        
        
        <td>
            T.C: 
        </td>
            
        <td>
            12.30 x 1
        </td>
        
        <td><input id="ventaDolar" type="checkbox" name="isVentaEnDolar">Venta Dolar</td>
    
    </tr>


    <tr> 
        <td> Subtotal:</td>
        <td><input id = "subtotal" type="text" class = "numeric-medium-width" name="venta[subtotal]" /> </td>
        
        <td>Efectivo:</td>
        <td><input id="efectivo" type="text" class = "numeric-medium-width"  name="venta[efectivo]" /> </td>
        <td><input id="calcularCambio" type="submit" value="Calcular" /> </td>
    
    </tr>

    <tr> 
        <td> I.V.A:</td>
        <td><input id="iva" type="text"  class = "numeric-medium-width"  name="venta[iva]" /> </td>
        
        <td>Cambio:</td>
        <td><input id="cambio" type="text" class = "numeric-medium-width"  name="venta[cambio]" /> </td>
        <td></td>
    </tr>
    
    <tr> 
        
        
        <td>Total:</td>
        <td><input id="total" type="text" class = "numeric-medium-width"  name="venta[total]" /> </td>
        <td></td>
        <td></td>
        
        
    </tr>
</table>