{% block javascripts %}
<script type="text/javascript"
        src="{{ asset('bundles/puntoventa/js/venta/adddeleteventaunitaria.js') }}">

</script>
{% endblock %}


<table class="subTable" id="ventasUnitarias">
    <tr>
        <th>Clave Prod.</th>
        <th>Categoria</th>
        <th>Producto</th>
        <th>P. Unit.</th>
        <th>Cantidad</th>
        <th>Importe</th>
    </tr>
    <tr class="ventaUnitaria">
        {% render url('ventaunitaria_new') %}
    </tr>
</table>

 <input id='nuevaVentaUnitaria' type="submit" value="Nuevo" />










